h1{
    width: 100px;
    height: 800px;
    background: rgb(146, 146, 236);
    float: left;
    margin: 0;
    margin-right:15px;
}
p{
    display: inline;
}
span{
    font-weight:bold;
}